body{
    background-color: #EFEBE0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    margin-top: 14vw;
}

.logo-fly{
    width: 10vw;
    height: fit-content;
}

.container-alinhamento-um{
    width: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container-alinhamento-um h1{
    font-family: 'Montserrat';
    color: #3E2A21;
}

.container-alinhamento-um p{
    font-family: 'Poppins';
    color: #3E2A21;
    opacity: 0.8;
    margin-top: -1vw;
}

.alinhamento-letras{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: -2vw;
}

/* CSS media query dentro de um stylesheet */
@media screen and (min-width: 375px) and (max-width: 667px) {

    body{
        margin-top: 75vw;
    }

    .logo-fly{
        width: 28vw;
    }

    .container-alinhamento-um h1{
        font-size: 5vw;
    }
    
    .container-alinhamento-um p{
        margin-top: -1vw;
    }

    .alinhamento-letras{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-top: -4vw;
    }
}